
<div class="khung-chua-san-pham">
  <div class="section">
    <p class="section-head">SẢN PHẨM NỔI BẬT</p>
    <br>
    <div class="product-box"*ngFor="let product of productList">
      <a class="box">
        <div class="hinh-sp">
          <div style="background-image: url({{product.image_url}})" class="hinh"></div>
        </div>
        <p >{{product.name}}</p>
        <p> <a routerLink="product/{{product.id}}" class="btn btn-outline-dark mt-auto">Xem Chi Tiết</a></p>
        <p class="gia-tien">{{product.price}} $</p>
        <div class=""><a >Thêm vào Giỏ Hàng </a></div>
      </a>
    </div>
   