<div style="background-color: #cecece;">
  <br>
  <br>

  <div class="form-container">
    <h1>
      <p style="text-align: center;">Register </p>
    </h1>

    <form (ngSubmit)="onSubmit()" #registerForm="ngForm">

      <div class="form-group">
        <label for="username">User Name<span style="color: red;">*</span></label>
        <input type="text" id="username" name="username" required [(ngModel)]="username" maxlength="20">
        <div *ngIf="usernameError">{{ usernameError }}</div>
      </div>

      <div class="form-group">
        <label for="email">Email<span style="color: red;">*</span></label>
        <input type="email" id="email" name="email" required [(ngModel)]="email">
        <div *ngIf="emailError">{{ emailError }}</div>
      </div>

      <div class="form-group">
        <label for="full_name">Full Name<span style="color: red;">*</span></label>
        <input type="text" id="full_name" name="full_name" required [(ngModel)]="full_name">
        <div *ngIf="full_nameError">{{ full_nameError }}</div>

      </div>
      <div class="form-group">
        <label for="phone">Phone</label>
        <input type="tel" id="phone" name="phone" [(ngModel)]="phone" maxlength="10">
      </div>

      <div class="form-group">
        <label for="address">Address</label>
        <input type="text" id="address" name="address" [(ngModel)]="address" >

      </div>
      <div class="form-group">
        <label for="gender">Gender</label>
        <select type="text" id="gender" name="gender" [(ngModel)]="gender" >
          <option value="male">Male</option>
          <option value="female">Female</option>
          <option value="other">Other</option>
        </select>

      </div>
      <div class="form-group">
        <label for="birthday">Birthday</label>
        <input type="date" id="birthday" [(ngModel)]="birthday">
      </div>

      <div class="form-group">
        <label for="password">Password<span style="color: red;">*</span></label>
        <input type="password" id="password" name="password" required [(ngModel)]="password">
        <div *ngIf="passwordError">{{ passwordError }}</div>

      </div>
      <div class="form-group">
        <label for="password_confirmation">Confirm Password<span style="color: red;">*</span></label>
        <input type="password" id="password_confirmation" name="password_confirmation"
          required [(ngModel)]="password_confirmation">
        <div *ngIf="passwordConfirmationError">{{ passwordConfirmationError }}</div>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!registerForm.valid">Register</button>
    </form>
  </div>
  </div>
