<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container">
  <h1>Product Reviews</h1>

  <form (submit)=" saveProductReview()">
    <div id="rating">
      <input type="radio" id="star5" name="rating" value="5" [(ngModel)]="rating"/>
      <label class = "full" for="star5" title="Awesome - 5 stars" [(ngModel)]="rating"></label>

      <input type="radio" id="star4" name="rating" value="4" [(ngModel)]="rating"/>
      <label class = "full" for="star4" title="Pretty good - 4 stars"></label>

      <input type="radio" id="star3" name="rating" value="3" [(ngModel)]="rating"/>
      <label class = "full" for="star3" title="Meh - 3 stars"></label>

      <input type="radio" id="star2" name="rating" value="2" [(ngModel)]="rating"/>
      <label class = "full" for="star2" title="Kinda bad - 2 stars"></label>

      <input type="radio" id="star1" name="rating" value="1" [(ngModel)]="rating"/>
      <label class = "full" for="star1" title="Sucks big time - 1 star"></label>
  </div>
  <br>
  <br>
  <br>
    <div class="form-group">
      <label for="review">Comment:</label>
      <textarea id="review" name="review" [(ngModel)]="comment" required></textarea>
    </div>
    <div class="form-group">
      <button type="submit">Submit</button>
    </div>
